<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="header">
    <a href="#default" class="logo">Quiz</a>
    <div class="header-right">
        <a th:href="@{${#httpServletRequest.requestURI}(lang='EN')}">
            <i th:text="#{msg.en}">EN</i>
        </a>
        <a th:href="@{${#httpServletRequest.requestURI}(lang='UA')}">
            <i th:text="#{msg.ua}">UA</i>
        </a>
        <a href="/login" th:text="#{msg.login}">
            Login
        </a>
        <a href="/register" th:text="#{msg.register}">
            Register
        </a>
        <a href="/home/list" th:text="#{msg.quiz}">
            Home
        </a>
        <a href="/profile/" th:text="#{msg.profile}">
            Profile
        </a>
    </div>
</div>
</body>
</html>